.cont{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    height: 203px;
    width: 435px;
    background-color: var(--grisOscuro);
    justify-content: space-around;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.task{
    background-color: white;
    height: 35px;
    width: 411px;
    border-radius: 10px;
    box-shadow: 1px 2px 6px rgba(7, 7, 7, 0.5);
    outline: none;
    border: none;
}

.description{
    background-color: white;
    height: 91px;
    width: 411px;
    border-radius: 10px;
    box-shadow: 1px 2px 6px rgba(7, 7, 7, 0.5);
    outline: none;
    border: none;
}

.button{
    height: 35px;
    width: 95px;
    margin-bottom: 10px;
    background-color: var(--acento);
    border-radius: 50px;
    outline: none;
    border: none;
    box-shadow: 1px 2px 6px rgba(7, 7, 7, 0.5);
    color: white;
    font-family: var(--fuente);
    font-weight: bold
}