.card{   
    width: 433px;
    height: 312px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin-top: 0px;
    gap: 10px;
    background-color: var(--colorFondo); 
    align-items: center; 
}

.contenedorTarea{
    background-color: var(--colorFondo);
    width: 416px;
    height: 91px;
    box-shadow: 1px 2px 6px rgba(96, 96, 96, 0.5);
    margin-top: 0px;
    border-radius: 5px;
    display: flex;
    
}

.tareas{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 10px;
    
}
.tarea{
    margin-left: 3px;
    font-weight: bold;
    font-family: var(--fuente);
    width: 350px;
    
}
.descripcion{
    margin-left: 28px;   
    font-family: var(--fuente);
    font-weight: 300;    
    height: 50px;
    width: 320px;    
}

.botonEliminar{
    display: flex;
    flex-direction: column;
    justify-content: center;   
    padding-right: 10px;
    padding-left: 10px;
    align-items: center;
}
.EliminarIcono{
    width: 20px;
    height: 20px;
    color: var(--acento); 
}